[submodule ".registry"]
	path = .registry
	url = https://github.com/pinduzera/pinduzera.r-universe.dev
	branch = HEAD
[submodule "genlogis"]
	path = genlogis
	url = https://github.com/pinduzera/genlogis
[submodule "sasctl"]
	path = sasctl
	url = https://github.com/sassoftware/r-sasctl
[submodule "swat"]
	path = swat
	url = https://github.com/pinduzera/R-swat-universe
[submodule "tuRkey"]
	path = tuRkey
	url = https://github.com/pinduzera/turkey
